<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.item.mapper.SpecParamMapper">
    <resultMap id="BaseResultMap" type="com.leyou.item.pojo.SpecParam">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cid" jdbcType="BIGINT" property="cid"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="numeric" jdbcType="BIT" property="numeric"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="generic" jdbcType="BIT" property="generic"/>
        <result column="searching" jdbcType="BIT" property="searching"/>
        <result column="segments" jdbcType="VARCHAR" property="segments"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, cid, group_id, `name`, `numeric`, unit, generic, searching, segments
    </sql>
</mapper>