<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.item.mapper.StockMapper">
    <resultMap id="BaseResultMap" type="com.leyou.item.pojo.Stock">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="seckill_stock" jdbcType="INTEGER" property="seckillStock"/>
        <result column="seckill_total" jdbcType="INTEGER" property="seckillTotal"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        sku_id, seckill_stock, seckill_total, stock
    </sql>
</mapper>